/* p{
    color: rgb(26, 10, 120);
    background-color: rgb(232, 116, 232);
    text-align: center;
}

.p1{
    color: brown;
    background-color: rgb(200, 220, 146);
}
#p3{
    font-size: "67"; */
/* } */
div{
    display: inline-block;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: red;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

#box4{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 183);
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}#box2{
    height: 100px;
    width: 100px;
    background-color: rgb(187, 255, 0);
    padding: 10px;
    border: 1px solid rgb(48, 59, 2);
    margin: 10px;
}
#box3{
    height: 100px;
    width: 100px;
    background-color: rgb(72, 0, 255);
    padding: 10px;
    border: 1px solid black;
    margin:10px
}
.a{
    border-color: blueviolet;
    border-radius: 20px;
}
.imp{
    border: solid 500px;
}